html,
body,
div,
span,
h1,
h3,
p,
img,
strong,
b,
figure,
footer,
header,
nav {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent none repeat scroll 0% 0%;
}

body {
    line-height: 1;
}

.c15 {
    margin-bottom: 25px;
}

.c15,
.c15 td,
.c15 tr {
    border: 1px solid rgb(214, 214, 214);
}


.c15 .c3 p {
    padding: 5px 10px;
    margin-bottom: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}


td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}


figure,
footer,
header,
nav {
    display: block;
}

a {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent none repeat scroll 0% 0%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 242, 242);
    position: relative;
}

img {
    max-width: 100%;
}

a {
    color: rgb(224, 132, 28);
    text-decoration: none;
}

.Body {
    font-size: 18px;
    line-height: 22px;
}

@media only screen and (min-width: 48em) {
    .Body {
        font-size: 20px;
        line-height: 27px;
    }
}

.Body>* {
    max-width: 980px;
    font-family: serif;
}

.Body:last-child> :last-child {
    margin-bottom: 0px;
}

.Body a {
    color: inherit;
    box-shadow: 0px -1px blue inset;
}

.Body a:hover {
    color: rgb(184, 139, 88);
}

.Body p {
    margin-bottom: 15px;
}

.Body p:empty {
    display: none;
}

.Body h3 {
    margin-top: 18px;
    margin-bottom: 12px;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: bold;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  border-bottom: 4px solid #AE2134;
  background-color: white !important;
}

header ul {
  background: #AE2134;
  padding: 5px 0;
  padding-inline-start: 0px !important;
  margin-block-start: 0px;
}

ul {}

header ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}

header ul li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Merriweather', serif;
}

header ul li:after {
  content: '|';
  position: absolute;
  left: -5px;
  top: 1px;
  color: #999;
  font-size: 12px;
}
.logoLink {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.mainLogo {
  display: block;
  margin: 20px 0;
}
@media all and (max-width: 767px) {
  header ul {
      display: none;
  }

  .mainLogo {
      margin: 20px auto;
  }
}
.SvgIcon {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.SvgIcon--meduzaLogo {
    margin-top: -2px;
    height: 80px;
    width: 300px;
}

.Menu {
    display: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

@media only screen and (min-width: 64em) {
    .Menu {
        font-size: 13px;
        height: 80px;
        width: 100%;
        letter-spacing: 1px;
        background-color: rgb(38, 38, 38);
        display: flex;
        justify-content: center;
    }
}

.Menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px;
    text-align: center;
    transition: color 0.15s ease-out 0s;
}

@media only screen and (min-width: 64em) {
    .Menu-item {
        padding: 0px 15px;
        border-bottom: 0px none;
    }
}

@media only screen and (min-width: 64em) {
    .Menu-item:last-of-type {
        border-right: medium none;
    }
}

@media only screen and (min-width: 64em) {
    .Menu-item:hover {
        color: rgb(153, 153, 153);
        background-color: inherit;
    }
}

.Header {
    position: relative;
    height: 80px;
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-flow: row nowrap;
    z-index: 2;
}

@media only screen and (min-width: 64em) {
    .Header {
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 63.9375em) {
    .Header .HeaderButton--chat {
        display: none;
    }
}

.Header-left {
    display: flex;
    flex-basis: 16%;
    flex-grow: 1;
    height: 100%;
}

.Header-right {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    flex-basis: 16%;
    flex-grow: 1;
}

.Header-meduzaLogo {
    display: flex;
    height: 45px;
    justify-content: center;
    position: absolute;
    left: 0px;
    right: 0px;
}

@media only screen and (min-width: 64em) {
    .Header-meduzaLogo {
        position: static;
    }
}

.HeaderButton {
    position: relative;
    display: flex;
    min-width: 45px;
    height: 100%;
    padding: 0px 15px;
    -moz-user-select: none;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    fill: currentcolor;
    border: 0px none;
    background: transparent none repeat scroll 0% 0%;
    margin: 0px;
    cursor: pointer;
}

.HeaderButton:active {
    outline-width: 0px;
}

.HeaderButton:hover {
    color: rgb(153, 153, 153);
}

.HeaderButton::after {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-right: 1px solid rgb(103, 103, 103);
}

@media only screen and (min-width: 64em) {
    .HeaderButton::after {
        top: 10px;
        bottom: 10px;
    }
}

.HeaderButton-link {
    display: block;
    padding-top: 2px;
    text-transform: uppercase;
    color: inherit;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.HeaderButton-link::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: "";
}

.HeaderButton--chat {
    font-size: 13px;
    letter-spacing: 0.05em;
}

.Copyright {
    padding: 0px 12px;
    line-height: 1.2;
}

@media only screen and (min-width: 64em) {
    .Copyright {
        padding: 0px;
    }
}
.Copyright-container {
    margin: 0 auto;
}
.Copyright-container {
    display: flex;
    flex-flow: row wrap;
   justify-content: space-between;
    margin: 0px auto;
    padding: 13px 0px 12px;
}

.Copyright-container a:hover {
    color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 48em) {
    .Copyright-container {
        max-width: 675px;
        padding: 10px 0px 18px;
        border-top: 1px solid rgb(80, 80, 80);
        flex-wrap: nowrap;
        text-align: left;
    }
}

@media only screen and (min-width: 64em) {


    .Copyright-container {
        max-width: 860px;
    }
}

.Copyright-container a {
    color: rgb(255, 255, 255);
}

.Copyright-block {
    padding-top: 13px;
    font-size: 17px;
    flex: 1 0 20%;
}

@media only screen and (min-width: 48em) {
    .Copyright-block {
        padding-top: 0px;
        border-top: 0px none;
    }
}

.Copyright-block:last-child {
    text-align: right;
}

.MaterialTag {
    position: relative;
    z-index: 30;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 2px;
    font-weight: 700;
    line-height: 1;
    font-family: sans-serif;
    color: rgb(184, 139, 88);
    -moz-user-select: none;
}

@media only screen and (max-width: 32em) {
    .MaterialTag {
        height: 15px;
        line-height: 15px;
        padding: 0px 5px;
        font-size: 10px;
        letter-spacing: 0.5px;
    }
}

span.MaterialTag {
    cursor: default;
    pointer-events: none;
}

@media only screen and (min-width: 32em) {
    .MaterialTag--medium {
        height: 20px;
        line-height: 20px;
        padding: 0px 7px;
        letter-spacing: 1px;
        font-size: 12px;
    }
}

.MaterialTag--solid {
    color: rgb(255, 255, 255);
    background: rgb(184, 139, 88) none repeat scroll 0% 0%;
    border-color: rgb(184, 139, 88);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}


.MaterialMeta {
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 14px;
    color: rgb(128, 128, 128);
    margin-right: 12px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px auto;
    font-weight: normal;
}

@media only screen and (min-width: 48em) {
    .MaterialMeta {
        font-size: 18px;
        line-height: 18px;
        margin-right: 15px;
    }
}

.MaterialMeta--source {
    background-image: url("../fonts/e532f4e9c23677b76653507e723a39cd30cc6345.svg");
    background-position-y: 5px
}

@media only screen and (min-width: 48em) {
    .MaterialMeta--source {
        white-space: nowrap;
    }
}
.MediaMaterial-meta {
    display: flex;
    align-items: flex-end;
}
.MaterialMeta--time {
    background-size: 12px 12px;
    background-image: url("../fonts/a3fd45d1f497f3bbdb85276e6ec08268ed939132.svg");
    background-repeat: no-repeat;
    padding-left: 15px;
}

.MediaMaterialHeader {
    max-width: 840px;
}

.MediaMaterialHeader-first {
    color: rgb(0, 0, 0);
    line-height: 27px;
}

@media only screen and (min-width: 48em) {
    .MediaMaterialHeader-first {
        line-height: 38px;
    }
}

.MediaMaterialHeader-first,
.MediaMaterialHeader-separator {
    transition: color 0.25s ease-out 0s;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
}

@media only screen and (min-width: 48em) {

    .MediaMaterialHeader-first,
    .MediaMaterialHeader-separator {
        font-size: 36px;
    }
}

.MediaMaterial {
    background-color: rgb(255, 255, 255);
    padding: 12px;
}

@media only screen and (min-width: 48em) {
    .MediaMaterial {
        padding: 25px 15px 20px;
    }
}

.MediaMaterial-header {
    display: flex;
    flex-flow: column wrap;
    max-width: 650px;
    margin: 0px auto 18px;
    align-items: flex-start;
}

@media only screen and (min-width: 63.125em) {
    .MediaMaterial-header {
        max-width: 1000px;
        margin-bottom: 25px;
    }
}



.MediaMaterial-meta {
    margin-top: 12px;
}

@media only screen and (min-width: 48em) {
    .MediaMaterial-meta {
        margin-top: 12px;
    }
}

.MediaMaterial-materialContent {
    width: 100%;
    max-width: 650px;
}

.MediaMaterial-body {
    position: relative;
    max-width: 650px;
    margin: 0px auto;
}

@media only screen and (min-width: 63.125em) {
    .MediaMaterial-body {
        max-width: 1000px;
    }
}

    .MediaMaterial--fullWidth .MediaMaterial-header {
        align-items: center;
        text-align: center;
    }

.MediaMaterial--fullWidth .MediaMaterial-materialContent {
    max-width: none;
}

.Material {
    padding: 12px 0px 0px;
}

@media only screen and (min-width: 48em) {
    .Material {
        padding: 0 0px 0px;
    }
}

.Material-shadow {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.15);
}

.Material-shadow--top {
    top: 0px;
}

.Material-container {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    position: relative;
}

@media only screen and (min-width: 48em) {
    .Body h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 23px;
        line-height: 27px;
    }
}

.MaterialContent--bannerless .Body>* {
    margin-right: auto;
    margin-left: auto;
}


@media only screen and (min-width: 40.625em) {
    .MaterialContent .Figure {
        margin-right: auto;
        margin-left: auto;
    }
}

.Figure {
    margin: 15px -12px;
}

.Figure img {
    display: block;
    margin: 5px auto;
}

@media only screen and (min-width: 48em) {
    .Figure {
        margin: 27px auto 20px;
    }
}

@media only screen and (min-width: 75em) {
    .Figure {
        max-width: 650px;
    }
}

.Figure img {
    max-width: 100%;
    vertical-align: bottom;
}

@media only screen and (min-width: 40.625em) {
    .Figure img {
        border-radius: 2px;
    }
}

.Figure-caption {
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
    padding: 7px 12px 0px;
    font-size: 15px;
    line-height: 17px;
}

@media only screen and (min-width: 40.625em) {
    .Figure-caption {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 16px;
        line-height: 18px;
    }
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: transform 0.25s ease-out 0s, -webkit-transform 0.25s ease-out 0s, -o-transform 0.25s ease-out 0s;
}

.App-content,
.App-footer {
    transition: transform 0.25s ease-out 0s, -webkit-transform 0.25s ease-out 0s, -o-transform 0.25s ease-out 0s;
}

.App-footer {
    position: relative;
    z-index: 1;
}

.App-content {
    position: relative;
    z-index: 1;
    overflow: visible;
    background-color: rgb(242, 242, 242);
    flex: 1 0 auto;
}

.App-header {
    position: relative;
    z-index: 200;
}

.App--isMaterial .App-content {
    background-color: rgb(230, 230, 230);
}

.Footer {
    color: rgb(153, 153, 153);
    background-color: rgb(37, 37, 37);
    font-family: sans-serif;
}



.logo {
    display: block;
    margin-top: 12px;
    margin-left: 5px;
    font-weight: 700;
}

.ava-img {
    width: 50px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 5px;
    vertical-align: middle;
}

.Body a {
    color: blue;
}

.Body a:hover {
    box-shadow: none;
}

a.button {
    text-align: center;
    color: rgb(255, 255, 255) ! important;
    background-color: red;
    display: block;
    width: 100%;
    max-width: 320px;
    border-radius: 30px;
    text-decoration: none;
    padding: 15px;
    font-family: serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    /* text-shadow: 0 0 0 #fff; */
    transition: 0.2s;
    box-shadow: 0px -1px rgb(226, 73, 3) inset;
}

a.button:hover {
    background-color: rgb(193, 31, 31);
}

html {
    font-family: sans-serif;
}

body {
    margin: 0px;
}


figure,
footer,
header,
main,
nav {
    display: block;
}

a {
    background: transparent none repeat scroll 0% 0%;
}

a:active,
a:hover {
    outline: 0px none;
}

b,
strong {
    font-weight: 700;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0px;
}

img {
    border: 0px none;
}

figure {
    margin: 1em 40px;
}

button {
    color: inherit;
    font: inherit;
    margin: 0px;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0px none;
    padding: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    padding: 0px;
}

.disign_layer {
    margin-bottom: 15px;
}

.left_count {
    background: red none repeat scroll 0% 0%;
    padding: 23px;
    margin: 12px 0px;
    width: 178px;
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgb(0, 0, 0), 0px -1px 0px rgb(0, 0, 0), 0px 1px 0px rgb(0, 0, 0), 0px 1px 0px rgb(0, 0, 0), -1px 0px 0px rgb(0, 0, 0), 1px 0px 0px rgb(0, 0, 0), -1px 0px 0px rgb(0, 0, 0), 1px 0px 0px rgb(0, 0, 0), -1px -1px 0px rgb(0, 0, 0), 1px -1px 0px rgb(0, 0, 0), -1px 1px 0px rgb(0, 0, 0), 1px 1px 0px rgb(0, 0, 0), -1px -1px 0px rgb(0, 0, 0), 1px -1px 0px rgb(0, 0, 0), -1px 1px 0px rgb(0, 0, 0), 1px 1px 0px rgb(0, 0, 0);
}

@media (max-width: 320px) {

    .c15,
    .c15 td,
    .c15 tr {
        font-size: 16px;
    }

    .MaterialMeta--source {
        background-position-y: 2px;
    }
}

.inL_16892 {
    display: block;
}

.inL_464065 {
    font-size: 24px;
    font-weight: bold;
    border-left: 3px solid rgb(38, 38, 38);
    padding-left: 25px;
    /* font-family: "Roboto"; */
}

.inL_449888 {
    text-align: center;
}

.inL_981046 {
    text-align: center;
}

.inL_436857 {
    list-style-type: decimal;
    padding-left: 45px;
}

.inL_8848 {
    font-family: serif;
    margin-top: 0px;
}

.inL_607076 {
    color: green;
}

.inL_148527 {
    text-decoration: none;
    box-shadow: inset 0px -1px 0px 0px;
}

.inL_253602 {
    color: red;
    line-height: 32px;
    text-align: center;
    font-family: serif;
}

.inL_220080 {
    font-size: 52px;
    font-family: serif;
}

.inL_833391 {
    width: 100%;
    max-width: 330px;
}

.inL_194594 {
    width: 100%;
    max-width: 420px;
}
.prod {
    display: block;
    margin: 0 auto 15px;
}
.scroll_btn {
    display: block;
    margin: 0 auto;
}
.disign_layer{
    text-align: justify;
}
.text-com-block {
    padding-left: 62px;
}
.order_block {

  font-family: 'Arial', sans-serif;
}

.prod_img_wrapper {

  max-width: 300px;
  margin: 15px auto;
  position: relative;
}

.prod_img {
  width: 100%;
  max-width: 300px;
}

.prix {
  position: absolute;
  font-family: 'Arial', sans-serif;
  right: 0;
  bottom: 0;

  color: #000;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
  width: 165px;
  height: 98px;
  text-align: center !important;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
  transform: rotateZ(-7deg);
  margin: -0px auto 0px;
  background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 19%;
}

span.dis {
  display: block;
  margin-top: 9px;
  font-size: 18px;
}

.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 24px;
  line-height: 0px;
  margin: 0 auto;
}

.js_old_price {
  display: block;
  margin: 0 auto;
}

.wheel_input {
  padding: 10px !important;
  display: block !important;
  margin: 0 auto 20px !important;
  padding: 10px !important;
  width: 100% !important;
  border: 2px solid grey !important;
  border-radius: 5px !important;
}

.data_label {
  line-height: 30px;
}

.country_select {
  display: none !important;
  width: 52% !important;
}

.order_form {
  display: block !important;
  margin: 0 auto !important;
  text-align: center !important;
}
.old-price,
.new-price {
    padding: 0 10px;
}

.order_form {
    max-width: 300px;
    margin: 10px auto 0;
}

.order_form input {
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 18px;
    border-radius: 3px;
    border: 2px solid #555;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0;
}

.order_form .main-link {
    display: block;
    margin: 40px auto;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #de0606;
    text-align: center;
    color: #fff !important;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.order_form .main-link:hover {
    transform: scale(1.1);
}

.Footer {
    outline: 1px solid black;
    }
    .scroll_btn-1 {
    margin-bottom: 35px;
    }
    .name-com-block {
    display: flex;
    margin-bottom: -20px;
    }
    .text-com-block img {
        margin-top: 10px;
    }
    .ac_footer {
      position: relative;
      top: 10px;
      height: 0;
      text-align: center;
      margin-bottom: 70px;
      color: #A12000;
   }
  
   .ac_footer a {
      color: #A12000;
   }
  
   .ac_footer p {
      text-align: center;
   }
  
@media screen and (max-width: 767px) {
    .inL_464065 {
        font-size: 20px;
    }
    .disign_layer{
        text-align: left;
        font-size: 16px;
    }


}

@media screen and (max-width: 375px) {
a.button {font-size: 17px;}
}
.prodImg {
  width: 100%;
  max-width: 180px;
}

@media screen and (max-width: 479px) {
  .wheel {
      max-width: 270px;
  }

  .wheel-cursor {
      width: 40%;
      height: 40%;
  }

  .cursor-text {
      font-size: 15px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .pop-up-window {
      max-width: 300px;
  }

  .spin-result-wrapper {
      max-width: 100%;
      width: 100%;
  }

  body ul {
      padding-left: 20px !important;
  }

  .c15 .c3 p {
      font-size: 16px;
      padding: 5px;
  }


}

.pop-up-heading {
  font-size: 30px;
  font-weight: 700;
}

.pop-up-button {
  text-transform: uppercase !important;
  padding: 10px 20% !important;
  font-size: 20px !important;
  border-radius: 5px !important;
  background-color: #71c341 !important;
  border: none !important;
  cursor: pointer !important;
  outline: 0 !important;
  color: #fff !important;
  display: block;
  width: 150px;
  margin: 10px auto 0;
}

.prod_img {
  width: 100%;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.close-popup,
.cursor-text {
  cursor: pointer;
  position: absolute
}

.cursor-text,
.pop-up-window,
.spin-result-wrapper,
.spin-wrapper,
.wheel-wrapper {
  text-align: center
}

.spin-wrapper {
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  border: 3px solid red;
  padding: 20px 10px;
  border-radius: 10px;
  box-sizing: border-box
}

.spin-wrapper p {
  text-align: center;
  font-size: 21px !important;
  line-height: 1.4 !important;
  margin-bottom: 15px
}

.wheel {
  width: 380px !important;
  margin: 0 auto;
  position: relative
}

.wheel-cursor {
  position: absolute;
  width: 35% !important;
  height: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.cursor-text {
  z-index: 2;
  display: inline-block;
  width: 45% !important;
  height: 45%;
  line-height: 61px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ccc;
  top: 49%;
  left: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
  box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
  background: #fff;
  background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
  background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1)
}

.wheel-img {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s
}

.close-popup {
  width: 30px;
  height: 30px;
  background-image: url('../img/cross.svg');
  background-size: 100%;
  top: -40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  right: -40px
}

.cursor-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset
}

.spin-result-wrapper {
  display: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .6)
}

.pop-up-layer {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, .7) !important;
  z-index: 99 !important
}

.pop-up-layer-show {
  display: block
}

.pop-up-window {
  position: relative;
  max-width: 400px;
  right: 0;
  left: 0;
  top: 40%;
  margin: 0 auto !important;
  background: #fff;
  padding: 70px 10px 20px !important;
  border-radius: 10px;
  animation: .7s ease 0s normal none 1 running pop-up-appear
}

.pop-up-window::after,
.pop-up-window::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto
}

.pop-up-window::before {
  width: 110px;
  height: 110px;
  top: -55px;
  background-color: #71c341;
  border-radius: 50%;
  animation: .5s ease .6s normal backwards 1 running pop-up-appear-before
}

.pop-up-window::after {
  width: 50px;
  height: 20px;
  top: -20px;
  border-width: medium medium 4px 4px;
  border-style: none none solid solid;
  border-color: currentcolor currentcolor #fff #fff;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  transform: rotate(-45deg);
  transition: opacity 1s ease 0s;
  animation: .5s ease .6s normal backwards 1 running pop-up-appear-after
}

@keyframes pop-up-appear {
  0% {
      transform: translateY(-2000px)
  }

  30% {
      transform: translateY(100px)
  }

  100% {
      transform: translateY(0)
  }
}

@keyframes pop-up-appear-before {
  0% {
      transform: scale(0)
  }

  100% {
      transform: scale(1)
  }
}

@keyframes pop-up-appear-after {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1
  }
}

.pop-up-heading {
  font-size: 40px !important;
  margin-bottom: 20px !important
}

.pop-up-text {
  margin-bottom: 25px !important;
  font-size: 24px !important;
  line-height: 30px !important;
  text-align: center !important;
  color: #414141 !important;
  font-weight: 400
}

.pop-up-button,
.pop-up-button:hover {
  color: #fff !important;
  text-decoration: none !important
}

.pop-up-button {
  text-transform: uppercase !important;
  padding: 10px 20% !important;
  font-size: 20px !important;
  border-radius: 5px !important;
  background-color: #71c341 !important;
  border: none !important;
  cursor: pointer !important;
  outline: 0 !important
}

.wheel img {
  max-width: 100%
}

@media all and (max-width:520px) {
  .wheel {
      width: 260px !important
  }

  .pop-up-window {
      top: 30%
  }

  .pop-up-heading {
      font-size: 33px !important
  }

  .pop-up-text {
      margin-bottom: 15px !important
  }

  .cursor-text {
      line-height: 40px;
      font-size: 14px;
  }

  .close-popup {
      position: absolute;
      width: 30px;
      height: 30px;
      background-size: 100%;
      top: -40px;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 10px #fff;
      box-shadow: 0 0 10px #fff;
      right: -10px;
      cursor: pointer
  }
}

.super-rotation {
  -webkit-animation-name: super-rotation;
  animation-name: super-rotation;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out
}

@-webkit-keyframes super-rotation {
  70% {
      -webkit-transform: rotate(1900deg);
      transform: rotate(1900deg)
  }

  100% {
      -webkit-transform: rotate(1867deg);
      transform: rotate(1867deg);
  }
}

@keyframes super-rotation {
  70% {
      -webkit-transform: rotate(1900deg);
      transform: rotate(1900deg);
  }

  100% {
      -webkit-transform: rotate(1867deg);
      transform: rotate(1867deg);
  }
}

.time_remains {
  font-size: 20px;
  color: red;
  font-weight: 700;
}

.time_remains_title {
  padding-top: 15px;
  text-align: center;
  font-size: 22px
}
